[submodule ".vim/bondle/ctrlp.vim"]
	path = .vim/bondle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bondle/jquery.vim"]
	path = .vim/bondle/jquery.vim
	url = https://github.com/nono/jquery.vim.git
[submodule ".vim/bondle/mark.vim"]
	path = .vim/bondle/mark.vim
	url = https://github.com/mbriggs/mark.vim.git
[submodule ".vim/bondle/nerdtree"]
	path = .vim/bondle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bondle/snipmate-snippets"]
	path = .vim/bondle/snipmate-snippets
	url = https://github.com/jyn/snipmate-snippets.git
